.list-todo-container {
    .add-todo {
        button.add {
            margin: 0 10px
        }
    }
    button {
        cursor: pointer;
    }
    .list-todo-content {
        width: 400px;
        margin: 0 auto;

        .todo-child {
            button.edit {
                margin: 0 10px
            }
            
            &:first-child {
                border-top: 1px solid grey;
                padding-top: 2px;
            }
            height: 40px;
            border-bottom: 1px solid grey;
            margin: 10px;
        }


    }
}
